.profile__group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
  flex-grow: 1;
}

@media screen and (max-width: 500px) {
  .profile__group {
    justify-content: center;
    gap: 36px;
  }
}
