.profile__name-information {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 500px) {
    .profile__name-information {
        font-size: 14px;
        line-height: 17px;
    }
    
}
